.header {
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 100px;
    background: #175e12;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.box-button {
    display: flex;
    width: 320px;
    height: 50px;
    justify-content: space-between;
    margin: 0 auto;
}

.button {
    width: 80px;
    height: 50px;
    background: #178313;
    border: none;
    color: azure;
    border-radius: 30px;
    cursor: pointer;
}

.button:hover {
    background: azure;
    color: #178313;
    border: 1px solid #178313;
}

.text {
    font-size: 30px;
}

.up {
    color: azure;
}